<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hero.mvcboard.mappers.reply.ReplyMapper">
    <select id="list" resultType="com.hero.mvcboard.reply.domain.ReplyVO">
        SELECT replyNo,replyContent,replyWriter,regdate,updateDate
        FROM reply_table
        WHERE postNo = #{postNo}
        ORDER BY replyNo
    </select>

    <insert id="create" >
        INSERT INTO reply_table(postNo,replyWriter,replyContent)
        VALUES (#{postNo},#{replyWriter},#{replyContent})
    </insert>

    <update id="update">
        UPDATE reply_table
        SET replyContent = #{replyContent},updateDate = NOW()
        WHERE replyNo = #{replyNo}
    </update>

    <delete id="delete">
        DELETE FROM reply_table
        WHERE replyNo = #{replyNo}
    </delete>
    
    <select id="listpaging" resultType="com.hero.mvcboard.reply.domain.ReplyVO">
        SELECT replyNo,replyContent,replyWriter,regdate,updateDate
        FROM reply_table
        WHERE postNo = #{postNo}
        ORDER BY replyNo
        LIMIT #{cri.pageStart},#{cri.perPageNum}
    </select>
    <select id="countReply" resultType="int">
        SELECT Count(postNo)
        FROM reply_table
        WHERE replyNo>0
    </select>
</mapper>